.member_main_content
  .member_pic
    %h2{:style => "color:#2fa857"} 居民列表
    %img{:src => "/assets/jumin.png"}
  .member_chart_box
    - count = 0
    .console_row_box
      - @members[0..3].each do |p|
        - house_num = 0
        - house_num += p.blood_pressures.count
        - house_num += p.blood_sugars.count
        - house_num += p.purine_triones.count
        - house_num += p.cholesterins.count
        - house_num += p.body_temperatures.count
        .console_col_list
          %a{:href => member_path(p)}
            %div{:class => "console_box_#{count}"}
              %p.member_name
                #{p.name}-
                %span=p.tel
              %ul.member_info
                %li="体检档案:#{p.phy_exam_reocrds.count}"
                %li="居家检测:#{house_num}"
                %li="体适能:0;"
                %li="中医体质:0;"
                %li="留言:#{p.doctor_communicate_members.count}"
        - count += 1

      - if  @members.count < 4
        .console_col_list
          %a{:href => new_member_path}
            %div{:class => "console_box_#{count} list_add_button"}
              %img{:src => "/assets/add.png"}
      .clr

    - if  @members.count == 4
      .console_row_box
        .console_col_list
          %a{:href => new_member_path}
            %div{:class => "console_box_#{count} list_add_button"}
              %img{:src => "/assets/add.png"}
        .clr
      
    - if @members.count > 4
      .console_row_box
        - @phy_exam_tpls[4..6].each do |p|
          .console_col_list
            %a{:href => member_path(p)}
              %div{:class => "console_box_#{count}"}
                %p.member_name
                  #{p.name}-
                  %span=p.tel
                %ul.member_info
                  %li="体检档案:#{p.phy_exam_reocrds}"
                  %li="居家检测:#{house_num}"
                  %li="提示能:0;"
                  %li="中医体质:0;"
                  %li="留言:#{p.doctor_communicate_members.count}"
          - count += 1
        .console_col_list
          %a{:href => new_member_path}
            %div{:class => "console_box_#{count} list_add_button"}
              %img{:src => "/assets/add.png"}
        .clr
    .show_variable_paginate
      %span.page_entries_info= page_entries_info @members
      = will_paginate @members, renderer: BootstrapPagination::Rails if @members

