.chart_left_arrow
  = link_to("/health/adjust_month_chart/#{member_id}&blood_pressures?act=#{previous_month}",remote: true) do
    %img{:src => "/assets/green_left_arrow.png"}
.chart_chart
  = high_chart("blood_pressure_chart", blood_pressure_chart)
.chart_right_arrow
  = link_to("/health/adjust_month_chart/#{member_id}&blood_pressures?act=#{next_month}",remote: true) do
    %img{:src => "/assets/green_right_arrow.png"}
.clr