.chart_left_arrow
  = link_to("/health/adjust_month_chart/#{member_id}&cholesterin?act=#{previous_month}",remote: true) do
    %img{:src => "/assets/white_left_arrow.png"}
.chart_chart
  = high_chart("cholesterin_chart", cholesterin_chart)
.chart_right_arrow
  = link_to("/health/adjust_month_chart/#{member_id}&cholesterin?act=#{next_month}",remote: true) do
    %img{:src => "/assets/white_right_arrow.png"}
.clr