!!!
%html
  %head
    %title HealthManager
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'shared/header'
    = render 'shared/show_error'
    - if current_user.class.to_s == "Doctor"
      .body_main_content
        = render 'shared/nav'
        .mian_content
          = yield
    - else
      = yield
    = render 'shared/flooter'