%ul#sidenav{:style => "margin-right: 20px;"}
  %li.indicator.current
    %a{:href => "#member_box_1"}*
  %li.indicator
    %a{:href => "#member_box_2"}*
  %li.indicator
    %a{:href => "#member_box_3"}*
  %li.indicator
    %a{:href => "#member_box_4"}*
  %li.indicator
    %a{:href => "#member_box_5"}*
  %li.indicator
    %a{:href => "#member_box_6"}*
  %li.indicator
    %a{:href => "#member_box_7"}*
.bac_box#member_box_1
  .member_main_content
    .member_pic
      %h2 血压、心率
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow#blood_pressure_chart_box
        = render :partial => "members/chart/blood_pressure",:locals => {:blood_pressure_chart => @blood_pressure_chart,:next_month => @next_month,:previous_month => @previous_month,:member_id => @member.id}
    .clr
.bac_box#member_box_2
  .member_main_content
    .member_pic
      %h2 血糖
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow#blood_sugar_chart_box
        = render :partial => "members/chart/blood_sugar",:locals => {:blood_sugar_chart => @blood_sugar_chart,:next_month => @next_month,:previous_month => @previous_month,:member_id => @member.id}
    .clr
.bac_box#member_box_3
  .member_main_content
    .member_pic
      %h2 尿酸
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow#purine_trione_chart_box
        = render :partial => "members/chart/purine_trione",:locals => {:purine_trione_chart => @purine_trione_chart,:next_month => @next_month,:previous_month => @previous_month,:member_id => @member.id}
    .clr
.bac_box#member_box_4
  .member_main_content
    .member_pic
      %h2 体温
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow#body_temperature_chart_box
        = render :partial => "members/chart/body_temperature",:locals => {:body_temperature_chart => @body_temperature_chart,:next_month => @next_month,:previous_month => @previous_month,:member_id => @member.id}
    .clr
.bac_box#member_box_5
  .member_main_content
    .member_pic
      %h2 胆固醇
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow#cholesterin_chart_box
        = render :partial => "members/chart/cholesterin",:locals => {:cholesterin_chart => @cholesterin_chart,:next_month => @next_month,:previous_month => @previous_month,:member_id => @member.id}
    .clr
.bac_box#member_box_6
  .member_main_content
    .member_pic
      %h2 我们之间留言板
      %img{:src => "/assets/session_pic.png"}
      %span.choose_doctor_num{:style => "display:none"}= Doctor.count
    .member_chart_box
      - if current_user.doctor_id.nil?
        %img#choose_doctor{:src => "/assets/session_pic.png",:style => "cursor: pointer;"}
      -else
        .communicate_doc_member{:style=>"margin-top: -130px;"}
          .communicate_doc_inf
            - doctor = current_user.doctor
            %img#choose_doctor{src:"#{doctor.avatar_url}"}
            %span="姓名：#{doctor.name}(#{doctor.sex})——联系电话：#{doctor.tel}"
            %i.reload_window.new_m_msg_show{style:"cursor:pointer;float: right;color: rgb(62, 116, 118);"}="0条新信息"
          #communicate_doc_content
            = render :partial => "members/communicate_msgs",:locals =>{:doctor => doctor,:member => current_user}
          .input-group
            = form_tag(send_msg_doc_members_path,method:'post',remote: true,:style => "display: table-row;",:id => "send_msg_doc") do
              %input{:name => "member_id", :type => "text", :value => "#{current_user.id}",:style=>"display:none"}
              %textarea.form-control#communicate_msg{:type => "textarea",:style=>"resize:none",name:"commiunicate_msg",:required=>"required"}
              .span.input-group-btn
                %button.btn.btn-success.communicate_send_btn{:type=>"submit"}="发送"
    .clr
.bac_box#member_box_7
  .member_main_content
    .member_pic
      %h2 个人信息
      - user = current_user
      %img{:src => "#{user.avatar_url}"}
    .member_chart_box
      .person_info_box
        .row
          .col-md-6
            %p="姓名：#{user.name}"
          .col-md-6
            %p="联系电话：#{user.tel}"
        .row
          .col-md-6
            %p="性别：#{user.sex}"
          .col-md-6
            %p="家庭住址：#{user.building}幢#{user.unit}单元#{user.house}室"
        .row
          .col-md-12
            %p="健康状况：#{user.health}"
= render 'shared/modal/choose_doctor'