%ul#sidenav{:style => "margin-right: 20px;"}
  %li.indicator.current
    %a{:href => "#member_box_1"}*
  %li.indicator
    %a{:href => "#member_box_2"}*
  %li.indicator
    %a{:href => "#member_box_3"}*
  %li.indicator
    %a{:href => "#member_box_4"}*
  %li.indicator
    %a{:href => "#member_box_5"}*
  %li.indicator
    %a{:href => "#member_box_6"}*
  %li.indicator
    %a{:href => "#member_box_7"}*
.bac_box#member_box_1
  .member_main_content
    .member_pic
      %h2 血压、心率
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow
        .chart_left_arrow
          %img{:src => "/assets/green_left_arrow.png"}
        .chart_chart
          %img{:src => "/assets/fuck.png"}
        .chart_right_arrow
          %img{:src => "/assets/green_right_arrow.png"}
        .clr
    .clr
.bac_box#member_box_2
  .member_main_content
    .member_pic
      %h2 血糖
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow
        .chart_left_arrow
          %img{:src => "/assets/white_left_arrow.png"}
        .chart_chart
          %img{:src => "/assets/fuck.png"}
        .chart_right_arrow
          %img{:src => "/assets/white_right_arrow.png"}
        .clr
    .clr
.bac_box#member_box_3
  .member_main_content
    .member_pic
      %h2 尿酸
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow
        .chart_left_arrow
          %img{:src => "/assets/green_left_arrow.png"}
        .chart_chart
          %img{:src => "/assets/fuck.png"}
        .chart_right_arrow
          %img{:src => "/assets/green_right_arrow.png"}
        .clr
    .clr
.bac_box#member_box_4
  .member_main_content
    .member_pic
      %h2 体温
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow
        .chart_left_arrow
          %img{:src => "/assets/green_left_arrow.png"}
        .chart_chart
          %img{:src => "/assets/fuck.png"}
        .chart_right_arrow
          %img{:src => "/assets/green_right_arrow.png"}
        .clr
    .clr
.bac_box#member_box_5
  .member_main_content
    .member_pic
      %h2 胆固醇
      %img{:src => "/assets/session_pic.png"}
    .member_chart_box
      .chart_arrow
        .chart_left_arrow
          %img{:src => "/assets/green_left_arrow.png"}
        .chart_chart
          %img{:src => "/assets/fuck.png"}
        .chart_right_arrow
          %img{:src => "/assets/green_right_arrow.png"}
        .clr
    .clr
.bac_box#member_box_6
  .member_main_content
    .member_pic
      %h2 我们之间留言板
      %img{:src => "/assets/session_pic.png"}
      %span.choose_doctor_num{:style => "display:none"}= Doctor.count
    .member_chart_box
      - if current_user.doctor_id.nil?
        %img#choose_doctor{:src => "/assets/session_pic.png",:style => "cursor: pointer;"}
      -else
        .communicate_doc_member
          .communicate_doc_inf
            - doctor = current_user.doctor
            %img#choose_doctor{src:"#{doctor.avatar_url}"}
            %span="姓名：#{doctor.name}(#{doctor.sex})——联系电话：#{doctor.tel}"
            %i.reload_window.new_m_msg_show{style:"cursor:pointer;float: right;color: rgb(62, 116, 118);"}="0条新信息"
          #communicate_doc_content
            = render :partial => "members/communicate_msgs"
          .input-group
            = form_tag(send_msg_doc_members_path,method:'post',remote: true,:style => "display: table-row;",:id => "send_msg_doc") do
              %textarea.form-control#communicate_msg{:type => "textarea",:style=>"resize:none",name:"commiunicate_msg"}
              .span.input-group-btn
                %button.btn.btn-success.communicate_send_btn{:type=>"submit"}="发送"
    .clr
.bac_box#member_box_7
  .member_main_content
    .member_pic
      %h2 个人信息
      - user = current_user
      %img{:src => "#{user.avatar_url}"}
    .member_chart_box
      .row
        .col-md-6
          %p="姓名：#{user.name}"
        .col-ma-6
          %p="性别：#{user.sex}"
      .row
        .col-md-12
          %p="健康状况：#{user.health}"
= render 'shared/modal/choose_doctor'